.App {
  text-align: left;
  background-color: rgb(161, 58, 58);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter: drop-shadow(15px 15px 15px rgb(255, 255, 255));
}
.space {
  margin-top: 60px;
}

.botao {
  background-color: hotpink;
  margin: 20px;
  border-radius: 8px;
  border: none;
  width: 130px;
  height: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 400ms linear;
  }
}

.App-header {
  background-color: rgb(161, 58, 58);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20s + 2vmin);
  color: black
}

.App-link {
  color: #3a27a5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
